{% extends "base_single_card_layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block klopapier_common_headercontent %}{% trans "Leaderboard of ideas" %}{% endblock %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#challengeTable').DataTable({
            columnDefs: [{ targets: 2, orderable: false }],
        });
    });
</script>
{% endblock %}

{% block klopapier_common_content %}
<div class="table-responsive">
    <table
        id="challengeTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "Idee" %}</th>
                <th>{% trans "Votes" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
            <tr>
                <td>{{ idea.content }}</td>
                <td>{{ idea.votes }}</td>
                <td>TODO</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
