{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}

{% block finanz_common_navigation %}
<h4 class="navbar-text">Mails</h4>
<a
    class="nav-link {% active_link "common:list_mail" %}"
    href="{% url "common:list_mail" %}"
>Alle Mails</a>
<a
    class="nav-link {% active_link "common:add_mail" %}"
    href="{% url "common:add_mail" %}"
>Mail hinzufügen</a>
<h4 class="navbar-text">Einstellungen</h4>
<a
    class="nav-link {% active_link "common:edit_settings" %}"
    href="{% url "common:edit_settings" %}"
>Einstellungen bearbeiten</a>
<h4 class="navbar-text">QRCodes</h4>
<a
    class="nav-link {% active_link "common:list_qr_codes" %}"
    href="{% url "common:list_qr_codes" %}"
>Alle QRCodes</a>
<a
    class="nav-link {% active_link "common:add_qr_code" %}"
    href="{% url "common:add_qr_code" %}"
>QRCodes hinzufügen</a>
{% endblock %}
