{% load static %}
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static "applogo/favoticons/apple-touch-icon.png" %}"
>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static "applogo/favoticons/favicon-32x32.png" %}"
>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static "applogo/favoticons/favicon-16x16.png" %}"
>
<link
    rel="manifest"
    href="{% static "applogo/favoticons/site.webmanifest" %}"
>
<link
    rel="mask-icon"
    href="{% static "applogo/favoticons/safari-pinned-tab.svg" %}"
    color="#585858"
>
<meta
    name="msapplication-TileColor"
    content="#2d89ef"
>
<meta
    name="theme-color"
    content="#ffffff"
>
