{% extends "challenges/challenges_base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block klopapier_common_headercontent %}
    {% blocktrans trimmed with secret=secret.secret challenge=secret.challenge.prompt%}
        Edit secret {{ secret }} for challenge: {{ challenge }}
    {% endblocktrans %}
{% endblock %}

{% block klopapier_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <a
        class="btn btn-secondary"
        href="{% url "challenges:edit_challenge" secret.challenge.id %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-warning"
        type="submit"
    >{% trans "Edit secret" %}</button>
</form>
{% endblock %}
